.mantine-switch-root {
  --m3-color-grey-0: #e9ecef;
  --m3-color-grey-1: #f1f3f5;
  --m3-color-grey-2: #828282;

  --m3-color-light-0: #fff;

  --m3-color-black-0: #141414;

  --m3-color-blue-0: #228be6;

  --m3-switch-bg: var(--m3-color-grey-0); /* | 主背景色 */
  --m3-switch-hover-bg: var(--m3-color-grey-0); /* | hover 背景色 */
  --m3-switch-active-bg: var(--m3-color-blue-0); /* | 激活 背景色 */
  --m3-switch-thumb-bg: var(--m3-color-light-0); /* | 按钮背景色 */
  --m3-switch-thumb-hover-bg: var(--m3-color-light-0); /* | 按钮 hover 背景色 */
  --m3-switch-thumb-active-bg: var(--m3-color-light-0); /* | 按钮 激活 背景色 */
  --m3-switch-label-color: var(--m3-color-black-0); /* | 文本颜色 */
  --m3-switch-size: 20px; /* | 尺寸 */
  --m3-switch-thumb-margin: 4px; /* | 尺寸 */
  --m3-switch-label-margin: 8px; /* | 文本按钮间距 */

  --m3-switch-disabled-opacity: 0.3;

  .mantine-switch-input {
    display: none;

    + * {
      display: flex;

      > div {
        box-sizing: border-box;
        transition: 0.3s;
        margin-left: 0;
        position: relative;
        background-color: var(--m3-switch-bg);
        height: calc(var(--m3-switch-size) + var(--m3-switch-thumb-margin) * 2);
        width: calc(var(--m3-switch-size) * 2 + var(--m3-switch-thumb-margin) * 2);
        border-radius: var(--m3-switch-size);

        &::after {
          transition: 0.3s;
          position: absolute;
          background-color: var(--m3-switch-thumb-bg);
          border-radius: 100%;
          left: var(--m3-switch-thumb-margin);
          top: var(--m3-switch-thumb-margin);
          width: var(--m3-switch-size);
          height: var(--m3-switch-size);
          display: block;
          content: '';
        }

        &.active {
          background-color: var(--m3-switch-active-bg);

          &::after {
            left: calc(var(--m3-switch-thumb-margin) + var(--m3-switch-size));
            background-color: var(--m3-switch-thumb-active-bg);
          }
        }
      }

      & > * {
        margin-left: var(--m3-switch-label-margin);
        color: var(--m3-switch-label-color);
      }
    }

    &:disabled {
      + * {
        cursor: not-allowed;
        user-select: none;
        opacity: var(--m3-switch-disabled-opacity);
      }
    }
  }
}
